* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 80vw;
  display: grid;
  gap: 2rem;
  grid-template-areas: "modal modal modal" "sort sort sort" "book-container book-container book-container";
}

.sort {
  grid-area: sort;
}

.book-container {
  display: grid;
  gap: 2rem;
  grid-area: book-container;
}

.book-container.row {
  display: grid;
}

.book-container.card {
  grid-template-columns: repeat(4, 0.4fr);
}

.form-focus-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: grey;
}
