.toolbar {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    border-style: solid;
    border-width: 2px;
}

.sort {
    display: flex;
}

.sort > * {
    margin: 0;
}

.sort > form > select {
    margin-left: 0.3rem;
}